{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block search %}
<div id="changelist-search">
    <div>
        <label for="searchbar"><img src="{% static 'admin/img/search.svg' %}" alt="Pretraga"></label>
        <input type="text" size="40" name="q" value="{{ cl.query }}" id="searchbar" placeholder="Pretraga">
        <input type="submit" value="Pretraži">
    </div>
</div>
{% endblock %}

{% block object-tools-items %}
    {% has_add_permission cl.model_admin as can_add %}
    {% if can_add %}
        {% url cl.opts|admin_urlname:'add' as add_url %}
        <li>
            <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                Dodaj {{ cl.opts.verbose_name }}
            </a>
        </li>
    {% endif %}
{% endblock %}

